<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hashrock-calc</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>

  <div id="app">
    <h1>16進数変換</h1>
    <div>
      <div class="number__wrapper">
        <input class="numberInput" spellcheck="false" type="text" v-model="hex" @input="update('hex', $event)"> : 16進数 / hex
      </div>
      <div class="number__wrapper">
        <input class="numberInput" spellcheck="false" type="text" v-model="decimal" @input="update('decimal', $event)"> : 10進数 / decimal
      </div>
      <div class="number__wrapper">
        <input class="numberInput" spellcheck="false" type="text" v-model="binary" @input="update('binary', $event)"> : 2進数 / binary
      </div>
    </div>

    <hr>

    <h1>自動保存メモ帳</h1>
    <div>
      <textarea v-model="pasteboard" style="width: 100%; height: 10rem;"></textarea>
      <p>
        <label><input type="checkbox" v-model="generateQr">QR</label>
        <button @click="printMarkdown">印刷用Markdown</button>
      
      </p>
    </div>

    <div v-show="generateQr" id="qrcode"></div>

    <code>
      文字数： {{pasteboardLength}}<br>
      数値行合計: {{pasteboardSum}}
    </code>

  </div>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/davidshimjs-qrcodejs@0.0.2/qrcode.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.1/markdown-it.min.js"></script>
  <script src="./index.js"></script>

</body>

</html>