<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hashrock-calc</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>

  <div id="app">
    <h1>16進数変換</h1>
    <div>
      <div>
        <input type="text" v-model="hex" @input="update('hex', $event)"> : 16進数 / hex
      </div>
      <div>
        <input type="text" v-model="decimal" @input="update('decimal', $event)"> : 10進数 / decimal
      </div>
      <div>
        <input type="text" v-model="binary" @input="update('binary', $event)"> : 2進数 / binary
      </div>
    </div>

    <hr>

    <h1>自動保存メモ帳</h1>
    <div>
      <textarea v-model="pasteboard" style="width: 100%; height: 10rem;"></textarea>
      <p>
        <label><input type="checkbox" v-model="generateQr">QR</label>
        <button @click="printMarkdown">印刷用Markdown</button>
      
      </p>
    </div>

    <div v-show="generateQr" id="qrcode"></div>

    <code>
      文字数： {{pasteboardLength}}<br>
      数値行合計: {{pasteboardSum}}
    </code>

    <hr>


    <h1>ラーメンタイマー</h1>

    <p>テンプレート
      <button @click="timerSource = '3m'">3分</button>
      <button @click="timerSource = '5m'">5分</button>
      <button @click="timerSource = '25m PomodoroEnd\n5m RestEnd'">Pomodoro</button>
      <br>
      <textarea name="" id="" cols="30" rows="3" v-model="timerSource"></textarea>
      <br>
      <button @click="stopTimer" :disabled="!timerStart">タイマー停止</button>
      <button @click="pauseTimer" :disabled="!timerStart">一時停止 {{timerPause}}</button>
      <button @click="startTimer" :disabled="timerStart">タイマー開始</button>

      <p>{{timerRest | toMinute}}</p>
      <div style="background: white;">
        <div v-for="(timer, i) in timers">
          {{timer.time | toMinute}}（{{timer.title}}）
          <span v-if="i === 0" style="color: green;">実行中</span>
        </div>
      </div>
    </p>
  </div>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/davidshimjs-qrcodejs@0.0.2/qrcode.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.1/markdown-it.min.js"></script>
  <script src="./index.js"></script>

</body>

</html>